name: 11a[llamante] - workflows reutilizables
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  tirada-dados:
    uses: ./.github/workflows/11a-llamado.yml
    with:
      numero-dados: uno
  resumen:
    runs-on: ubuntu-latest
    needs: tirada-dados
    steps:
      - name: Escribir Resumen
        run: |
         echo "# :game_die: El resultado es:" >> $GITHUB_STEP_SUMMARY
         echo dado1: ${{needs.tirada-dados.outputs.dado1}} >> $GITHUB_STEP_SUMMARY
      - name: Escribir Resumen para segundo dado
        if: ${{ needs.tirada-dados.outputs.dado2 }}
        run: |
          echo dado2: ${{needs.tirada-dados.outputs.dado2}} >> $GITHUB_STEP_SUMMARY
